  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">
          XN Logic has been delivering graph and NoSQL solutions to the
          largest Fortune 500 companies since 2010. Our team is made of
          leading-edge programmers, analysts and support people who are
          eager to make you successful.
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Quick Links</h5>
          <ul>
            <li><a class="white-text" href="/xn-framework">XN Framework</a></li>
            <li><a class="white-text" href="http://xnlogic.github.io/getting_started/">Getting Started</a></li>
            <li><a class="white-text" href="/graph-database-consulting">Consulting</a></li>
            <li><a class="white-text" href="/neo4j">XN + Neo4j</a></li>
            <li><a class="white-text" href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="mailto:us@xnlogic.com">us@xnlogic.com</a></li>
            <li><a class="white-text" href="https://twitter.com/xnlogic">@xnlogic</a></li>
            <li><a class="white-text" href="tel:+16474789675">+1 647 478 9675</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/company/xn-logic">Linked In</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright tidal-grey">
        <div class="container">
            <div>
                Operated by <a target="_blank" class="orange-text text-lighten-3" href="https://tidalmigrations.com">Tidal SW Inc.</a>
                <span style="text-align: right; float: right">
                Copyright © 2018 <a href="https://xnlogic.com"
                  class="orange-text text-lighten-3">XN Logic</a>.
                </span>
            </div>
        </div>
    </div>
</footer>
